/*generics*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*utilities*/
:root{
    --gray: #737373;
}

.margin-bt{
    margin-bottom: 20px;
}

/*body*/
body{
    margin-top: 200px;
}

#resultPrint{
    border-radius: 20px;
    background-color: red;
    display: flex;
    justify-content: center;
    width: 400px;
    padding: 5px;
    margin: auto;
}